<section class="orders light-section mx-auto xl:mx-16">
    <div class="container mx-auto pt-8">
        <h1 class="font-bold text-lg mb-4">All Orders</h1>
        <% if(messages.success) { %>
        <div id="success-alert" class="flex items-center bg-green-500 text-white text-sm font-bold px-4 py-3" role="alert">

            <!-- img -->
            <p><%= message.success %></p>
        </div>
        <% } %>
        <div class="overflow-x-auto">
            <table class="w-full table-auto bg-white overflow-x:auto text-5xl md:text-lg">
                <thead>
                    
                    <tr class="bg-gray-100">
                        <th class="px-4 py-2 text-left sm:px-1">
                            Orders
                        </th>
                        <th class="px-4 py-2 text-left sm:px-1">
                            Address
                        </th>
                        <th class="px-4 py-2 text-left sm:px-1">
                            Time
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <% if(orders.length) { %>
                        <% orders.forEach((order)=>{ %>
    
                            <tr>
                                <td class="border border-gray-400 px-4 py-2 text-2xl sm:text-2xl md:text-3xl lg:text-xl">
                                    <a href="/customer/orders/<%= order._id%>" class="link"><%= order._id %></a>
                                </td>
                                <td class="border border-gray-400 px-4 py-2 text-2xl sm:text-2xl md:text-3xl lg:text-xl">
                                    <%= order.address %>
                                </td>
                                <td class="border border-gray-400 px-4 py-2 text-2xl sm:text-2xl md:text-3xl lg:text-xl">
                                    <%= moment( order.createdAt).format('hh:mm A') %>
                                </td>
                            </tr>
    
                      <%  }) %>
                    
                    <% } else { %>
    
                        <tr>
                            <td colspan="3" class="p-4 text-center text-2xl sm:text-2xl md:text-3xl lg:text-xl">
                               <span>No Oders Found!</span>
                            </td>
                        </tr>
                    <% } %>
                </tbody>
    
            </table>
        </div>
    </div>
</section>